@page "/Personas"

@inject PersonasBLL personasBLL

<EditForm Model="lista" >
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Personas</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <select class="form-control col-2" @bind="Filtro">
                        <option value="1">PersonaId</option>
                        <option value="2">Cedula</option>
                    </select>

                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio" />
                    </div>

                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2" /> Buscar
                    </button>
                </div>

            </form>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>PersonaId</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Sexo</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Estado civil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var persona in lista)
                {
                    <tr>
                        <td>@persona.PersonaId</td>
                        <td>@persona.Nombre</td>
                        <td>@persona.Apellido</td>
                        <td>@persona.Cedula</td>
                        <td>@persona.Telefono</td>
                        <td>@persona.Sexo</td>
                        <td>@persona.FechaNacimiento</td>
                        <td>@persona.EstadoCivil</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>



@code {
    public string Filtro { get; set; }
    public string Criterio { get; set; }
   public List<Personas> lista { get; set; } = new List<Personas>();

        private void Buscar()
        {
            lista = personasBLL.GetPersonas();
        }
}